<body>
    <div class="header-background">
        <div class="headline-container">
            <h1 id="headline" class="heading animated zoomIn slower">Developer extraordinaire.</h1>
            <h5 id="subline" class="subhead typewriter">Problem solver. Developer. Tester.</h5>
        </div>
    </div>
    <div class="body-container" opacity="0.3">
        <div class="card">
            <div class="card-header">
                <h4>Adam Lahey</h4>
                <h6>Adam is a developer specializing in test automation and the best QA practices. He has professional
                    experience in various programming languages and is quick to pick up new things. His specialty is
                    identifying problems before they become problems.</h6>
                <h6>
                    Adam is looking to grow his professional career by working with innovative technologies at great
                    companies.
                </h6>
                <h6>
                    More than anything else, Adam is a happy cat dad and avid reader. An outdoorsman and gaming
                    enthusiast. Laidback and a workaholic. He hopes to get his master's degree someday to pursue
                    research. He still daydreams about the stars.
                </h6>
            </div>
        </div>
    </div>
</body>