<div class="body-container" opacity="0.3">
    <div class="card">
      <div class="card-header">
        <h4>My Story</h4>
        <h6>I'm currently employed by SR Technologies (SRT) as a Software Developer in Test. One of my main
          responsibilities includes the testing a C# .NET application using Windows Application Driver, which is
          driven by Selenium. The backend is handled by a General Purpose Processing unit running on Linux, which we
          SSH into when analyzing performance (using 'tops'), network activity, and the server status (server running
          in GO). I also ensure the PostGRES database is secure and without vulnerabilities. The data running on the
          ITAR compliant systems is extensive and must be handled by stored procedures. </h6>
        <h6>In my role at Revature as a Software Developer in Test, I tested a web application using Javascript's
          Jasmine and Protractor, with a Java-to-Hibernate database middle and backend layer that used JUnit and
          Cucumber tests. The website's data-retrieval API was frequently tested using Postman to safeguard basic REST
          processing. </h6>
        <h6>In my experience, test case and code coverage are common statistics to ensure code reliability while
          keeping a maintainable source. I've worked as a part of an AGILE and scrum team, logging defects using
          Microsoft's Team Foundation Server (TFS; similar to Azure). A daily activity in both cases involved taking
          bug reports with logs and translating them into actionable items by task or user story. Test-driven
          development (TDD) in a continuous integration environment has been a constant. </h6>
      </div>
    </div>
</div>