<div class="body-container" opacity="0.3">
  <div class="card">
    <div class="card-header">
      <h4>My Story</h4>
      <h6>My most recent position was as a Software Developer in Test at a hardware/software company with a focus on
        telecommunications and cybersecurity. One of my primary responsibilities included testing a C# .NET application
        using Windows Application Driver, driven by Selenium. The backend was a General Purpose Processing unit running
        on Linux, which we connect via SSH when analyzing performance (using 'tops'), network activity, and the server
        status (server running in GO). I also ensure the PostGRES database is secure and without vulnerabilities. The
        data running on the ITAR compliant systems is extensive and controlled with stored procedures. </h6>
      <h6>In my role at Revature as a Software Developer in Test, I tested a web application using Javascript's Jasmine
        and Protractor, with a Java-to-Hibernate database middle and backend layer that used JUnit and Cucumber tests. I
        frequently tested the website's data-retrieval API using Postman to safeguard basic REST processing. </h6>
      <h6>In my experience, test case and code coverage are standard statistics to ensure code reliability while keeping
        a maintainable source. I understand the importance of test-driven development (TDD) in a continuous integration
        environment, and I've worked as a part of an AGILE and scrum team. My daily activities often involved taking bug
        reports with logs then translating them into actionable items, alongside recording defects using Microsoft's
        Team Foundation Server (TFS, similar to Azure). </h6>
    </div>
  </div>
</div>